<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    <title>TodoList</title>

</head>
<body>
    <div id="container">
        <header>

        </header>
        <main>
            <section class="section-header">
                <div class="type-select-box">
                    <div class="selected-type">ALL</div>
                    <div class="selected-type-button">
                        <i class="fa-solid fa-caret-down"></i>
                    </div>
                </div>
                <ul class="type-select-box-list">
                    <li>Importance</li>
                    <li>Complete</li>
                    <li>Incomplete</li>
                </ul>
                
                <div>
                    남은 할일 카운트
                </div>
            </section>
            <section>
                <ul>
                    <li>
                        <input type="checkbox" name="" id="">
                        <div></div>
                        <input type="text" style="display: none;">
                        <div>삭제</div>
                    </li>
                </ul>
                <div>추가버튼</div>
            </section>
        </main>
    </div>
</body>
</html>